<h1>Blogger New Form</h1>


<%if flash[:my_errors]%>
    <h2>Error Messages: </h2>
    <%flash[:my_errors].each do |error|%>
        <%=error%><br>
    <%end%>
<%end%>


<%=form_for @blogger do |f|%>
    <%=f.label :name%><br>
    <%=f.text_field :name%><br>
    <%=f.label :age%><br>
    <%=f.text_field :age%><br>
    <%=f.label :bio%><br>
    <%=f.text_area :bio%><br>

    <%=f.submit%>
<%end%>
