<h1>Blogger Show Page</h1>

    <%=@blogger.name%><br>
    <%=@blogger.age%><br>
    <%=@blogger.bio%><br>

My total likes: <%=@blogger.posts.map{|post| post.likes}.sum%>

My most liked post: 
<%most_liked_post = @blogger.posts.max_by{|post| post.likes}%>
<%=link_to most_liked_post.title, post_path(most_liked_post) %>