<h1> Post Show Page </h1>

<p> Title: <%= @post.title %> </p>
<p> Content: <%= @post.content %> </p>
<p> Likes: <%= @post.likes %> </p>
<p> Author: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %> </p>
<p> Destination: <%= link_to @post.destination.name, destination_path(@post.destination) %> </p>
<%= button_to "Like", post_path(@post), method: :get, name: :like %>