<h1><%= @destination.name %></h1>

<h2>Recent Posts</h2>

<% @destination.last_five_posts.each do |post| %>
    <h3><%= post.title %></h3><br>
    <p><%= post.content %></p>
<% end %>

<h2>This Destination's Most Liked Post</h2>

<%= link_to @destination.most_liked_post.title, post_path(@destination.most_liked_post) %>

<h2>Average Blogger Age for This Destination</h2>

<%= @destination.average_blogger_age %>